@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(146, 36, 146);
    font-family: Arial, Helvetica, sans-serif;
}

header {
    text-align: center;
    height: 100px;
    line-height: 100px;
    margin-top: 80px;
}

h1 {
    font-size: 70px;
    color: white;
}

section {
    background-color: white;
    width: 630px;
    height: 350px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 2px 2px 7px 0px rgb(0, 0, 0);
}

section p {
    text-align: center;
    padding-top: 30px;
    font-size: 20px;
}

div#imagem {
    width: 250px;
    height: 250px;
    margin: auto;
    margin-top: 24px;
    border-radius: 50%;
}

footer {
    text-align: center;
    padding-top: 50px;
    color: white;
    font-weight: bold;
    font-size: 13pt;
}
